.red {
    color: red;
}

.green {
    color: green;
}

.uppercase {
    text-transform: uppercase;
    margin: 0;
}

.coin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 16px;
}

.market {
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.coin__card {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    column-gap: 100px;
    width: 1200px;
    padding: 16px;
    border-radius: 8px;
    background: #1E1E1E;
    box-shadow: #FFFFFF 0 0 4px 1px;
    margin: 12px 0;
}

img {
    width: 48px;
    height: 48px;
}

h1 {
    /* Inter / Body 1 */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    /* White / 100% */

    color: #FFFFFF;
}


.error {
    color: red;
    font-weight: bold;
    padding: 10px;
}

