.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 18px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    opacity: 60%;
    margin: 0;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;
    margin: 0;
}