@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 24px 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    opacity: 60%;
    margin: 0;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 29px;
    margin: 0;
}