@media screen and (max-width: 768px) {
    .chart__container {
        width: 50px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 500px) {
    .chart__container {
        width: 40px !important;
        height: 40px !important;
    }
}